In [ ]:
# 1. Import libraries
import pandas as pd

In [ ]:
# 2. Load raw dataset
df = pd.read_csv("../data/raw_dataset.csv")

In [ ]:
# 3. Exploratory checks
print("=== Dataset Info ===")
df.info()

In [ ]:
print("\n=== Dataset Description ===")
print(df.describe(include="all"))

In [ ]:
# 4. Missing values check
print("\n=== Missing Values Per Column ===")
print(df.isnull().sum())

In [ ]:
# 5. Duplicate rows check
duplicates = df.duplicated().sum()
print(f"\n=== Duplicate Rows Found: {duplicates} ===")

ðŸ§¹ Data Cleaning Notebook for Titanic Dataset

In [ ]:
## 1. Import Libraries
import pandas as pd
import numpy as np
import re

In [ ]:
## 2. Load Dataset
df = pd.read_csv("../data/raw_dataset.csv")
print("Original Shape:", df.shape)
df.head()

In [ ]:
## 3. Initial Exploration
df.info()
df.describe(include="all")

================================================================
4. Handle Missing Values
================================================================

In [ ]:
# Age â†’ fill missing with median, convert to int
df['Age'] = df['Age'].fillna(df['Age'].median()).astype(int)

In [ ]:
# Embarked â†’ fill missing with most common (mode)
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [ ]:
# Cabin â†’ replace NaN with 'Unknown'
df['Cabin'] = df['Cabin'].fillna('Unknown')

In [ ]:
# Drop rows that are entirely empty
df = df.dropna(how="all")

================================================================
5. Clean Name Column
================================================================

In [ ]:
# Remove titles (Mr., Mrs., Miss., Master., Dr., etc.)
df['Name'] = df['Name'].str.replace(r"(Mr\.|Mrs\.|Miss\.|Master\.|Don\.|Dr\.|Rev\.)", "", regex=True)

In [ ]:
# Remove parentheses and contents inside them
df['Name'] = df['Name'].str.replace(r"\(.*\)", "", regex=True).str.strip()

In [ ]:
# Split Surname, Firstname -> reorder to Firstname Surname
def reorder_name(name):
    if "," in name:
        parts = [p.strip() for p in name.split(",")]
        if len(parts) >= 2:
            return parts[1] + " " + parts[0]
    return name

In [ ]:
df['Name'] = df['Name'].apply(reorder_name)

================================================================
6. Ticket Column Cleaning
================================================================

In [ ]:
# Extract numeric part of ticket (remove letters, spaces, dots)
df['Ticket'] = df['Ticket'].astype(str).str.replace(r"\D", "", regex=True)

In [ ]:
# Drop duplicates based on Ticket Number
df = df.drop_duplicates(subset=['Ticket'])

In [ ]:
# Ensure Ticket column is numeric
df['Ticket'] = pd.to_numeric(df['Ticket'], errors='coerce')

================================================================
7. Standardize Sex Column
================================================================

In [ ]:
df['Sex'] = df['Sex'].str.strip().str.lower()

================================================================
8. Fare Column
================================================================

In [ ]:
# Fill missing fares with median
df['Fare'] = df['Fare'].fillna(df['Fare'].median())

In [ ]:
# Round to 2 decimal places
df['Fare'] = df['Fare'].round(2)

================================================================
9. Cabin Column
================================================================

In [ ]:
# Keep only the first letter (deck)
df['Cabin'] = df['Cabin'].apply(lambda x: x[0] if x != 'Unknown' else 'Unknown')

================================================================
10. Remove Duplicate Rows
================================================================

In [ ]:
df = df.drop_duplicates()

In [ ]:
print("Cleaned Shape:", df.shape)

In [ ]:
# ================================================================
# 11. Drop Cabin Column
# ================================================================
if 'Cabin' in df.columns:
    df = df.drop(columns=['Cabin'])
    print("\n=== Dropped Cabin Column ===")

In [ ]:
# ================================================================
# 12. Save Cleaned Dataset
# ================================================================
df.to_csv("../data/cleaned_dataset.csv", index=False)
print("âœ… Cleaned dataset saved!")